<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
	<title>Title</title>
</head>
<body>


	<div class="app-header">
		<h1 class="text-center">Weather API</h1>
	</div><br><br>

	<div class="input-group mb-3 col-md-4 mx-auto">
  <input type="text" class="form-control" placeholder="Add another city" aria-label="Recipient's username" aria-describedby="button-addon2">
  <div class="input-group-append">
    <button class="btn btn-primary" type="button" id="button-addon2">Add City</button>
  </div>
</div><br><br>

<!-- {% for weather in weather_data %} -->
<div class="card mx-auto" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title text-center">{{ weather.name }}</h5>
    <img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" alt="Image" class="rounded mx-auto d-block">
    <h6 class="card-subtitle mb-2 text-muted text-center">{{ weather.temperature }}</h6>
    <p class="card-text text-center">{{ weather.description }}</p>
  </div>
</div><br>
<!-- {% endfor %} -->


</body>
</html>